<div class="modal fade" id="playeredit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width: 600px; width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Spielerverwaltung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div class="table-wrapper-scroll-y my-custom-scrollbar">
					<table class="table table-sm table-bordered table-striped">
						<thead class="thead-kickertool">
							<th scope="col">Vorname</th>
							<th scope="col">Nachname</th>
							<th scopr="col" style="width: 20%" *ngIf="!tournamentMode"></th>
							<th scopr="col" *ngIf="tournamentMode">Teilnahme am Turnier</th>
						</thead>
						<tbody>
							<tr scope="row" *ngFor="let player of players">
								<td style="text-align: left">{{player.firstName}}</td>
								<td style="text-align: left">{{player.lastName}}</td>
								<td *ngIf="!tournamentMode"><i class="fa fa-user-times" (click)="deletePlayer(player)" style="cursor: pointer"></i></td>
								<td *ngIf="tournamentMode">
									<input class="form-check-input" type="checkbox" id="tournamentSelection" [(ngModel)]="player.selectedForTournament">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br />
                <div class="input-group">
                    <input #newplayername (keyup.enter)="addPlayer(newplayername.value)" type="text" class="form-control" placeholder="Neuer Spielername" style="width: 80%">
                    <div class="input-group-append" style="width: 20%">
                        <button type="button" class="btn btn-kickertool-green btn-block" (click)="addPlayer(newplayername.value)">Anlegen</button>
                    </div>
                </div>
                <app-loadandresponse></app-loadandresponse>
            </div>
            <div class="modal-footer" >
				<button *ngIf="tournamentMode" type="button" class="btn btn-kickertool-green" (click)="onAddPlayerToTournamendClicked()">Zum Turnier hinzuf&uuml;gen</button>
                <button #playerEditModalCloseButton type="button" class="btn btn-secondary" data-dismiss="modal">Schlie&szlig;en</button>
            </div>
        </div>
    </div>
</div>