<app-panel
    title="Spielerverwaltung"
    (closeEvent)="onClosePlayerManagementPanel()">
    <div style="height: 450px;">
        <p-table [value]="players" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr *ngFor="let player of players; let i = index">
                    <td>{{ player.firstName }}</td>
                    <td>{{ player.lastName }}</td>
                    <td style="padding: 5px">
                        <button type="button" class="btn btn-danger" (click)="onPlayerDeleteClicked(player.uid, i)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <form
        [formGroup]="newPlayerForm"
        (ngSubmit)="onCreateNewPlayerSubmit(newPlayerForm.value)">
        <div class="form-row">
            <div class="col-12">
                <div class="ui-inputgroup">
                    <input pInputText type="text" formControlName="name" placeholder="Neuer Name" style="width: 100%;"/>
                    <button pButton type="submit" label="Anlegen"></button>
                </div>
            </div>
        </div>
    </form>
</app-panel>
