<h1>{{stopwatchString}}</h1>
<div class="row" style="align-content: center">
    <div class="col">
        <button type="button" style="margin-right: 5px; margin-left: 5px;" class="btn btn-kickertool" (click)="onResetStopwatchClicked()" [disabled]="isStateRunning() || isStateInitialized()"><i class="fa fa-step-backward"></i></button>
        <button type="button" style="margin-right: 5px; margin-left: 5px;" class="btn btn-kickertool" (click)="onStartStopwatchClicked()" [disabled]="isStateRunning()"><i class="fa fa-play"></i></button>
        <button type="button" style="margin-right: 5px; margin-left: 5px;" class="btn btn-kickertool" (click)="onPauseStopwatchClicked()" [disabled]="isStatePaused() || isStateInitialized()"><i class="fa fa-pause"></i></button>
    </div>
</div>