<div class="container-fluid" style="height: 100%; padding: 5%">
	<div class="row align-items-center">
		<div class="col" *ngIf="tournament">
			<h1>{{tournament.name}}</h1>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3" style="text-align: left">
			<button #btnNewRound type="button" class="btn btn-primary" (click)="onNewRoundClicked()">Neue Runde starten</button>
		</div>
		<div class="col-3">
			<select class="form-control" (change)="onRoundSelect($event.target.value)" *ngIf="tournament">
				<option *ngFor="let item of arrayOne(tournament.currentRound); index as i" selected>Runde {{i + 1}}</option>
			</select>
		</div>
		<div class="col-6">
			<h3>Tabelle</h3>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-6">
			<table class="table table-sm table-bordered table-striped">
				<thead class="thead-kickertool">
					<th scope="col">Team 1</th>
					<th scope="col">Ergebnis</th>
					<th scope="col">Team 2</th>
					<th scope="col">Tisch</th>
					<th scope="col"></th>
				</thead>
				<tbody *ngIf="tournament">
					<tr *ngFor="let match of matchesForRound">
						<td>{{match.homeTeam.player1.firstName}} {{match.homeTeam.player1.lastName}}<br />{{match.homeTeam.player2.firstName}} {{match.homeTeam.player2.lastName}}</td>
						<td>{{match.scoreHome}} : {{match.scoreVisiting}}</td>
						<td>{{match.visitingTeam.player1.firstName}} {{match.visitingTeam.player1.lastName}}<br />{{match.visitingTeam.player2.firstName}} {{match.visitingTeam.player2.lastName}}</td>
						<td>{{match.table?.tableNumber}}</td>
						<td><button type="button" class="btn btn-success" (click)="onEnterMatchResultClicked(match)" data-toggle="modal" data-target="#match-result-modal" data-backdrop="static" [disabled]="enterMatchResultDisabled()">Ergebnis</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-6">
			<table class="table table-sm table-bordered table-striped">
				<thead class="thead-kickertool">
					<th scope="col">#</th>
					<th scope="col">Spieler</th>
					<th scope="col">Punkte</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</thead>
				<tbody>
					<tr *ngFor="let rankingRow of playerRankingRows">
						<td>{{rankingRow.rank}}</td>
						<td>{{rankingRow.player.firstName}} {{rankingRow.player.lastName}}</td>
						<td>{{rankingRow.score}}</td>
						<td><button type="button" class="btn btn-success" (click)="onDetailsClicked(rankingRow)" data-toggle="modal" data-target="#ranking-modal" data-backdrop="static">Details</button></td>
						<td style="padding: 5px">
							<div [hidden]="areEditButtonsHidden(rankingRow.player)">
								<button class="btn btn-success" style="margin: 2px" (click)="onPlayerRemoveFromTournamentClicked(rankingRow.player)"><i class="fa fa-user-times"></i></button>
								<button class="btn btn-success" style="margin: 2px" (click)="onPlayerPauseClicked(rankingRow.player)" [hidden]="isPlayerPausing(rankingRow.player)"><i class="fa fa-pause"></i></button>
								<button class="btn btn-success" style="margin: 2px" (click)="onPlayerResumeClicked(rankingRow.player)" [hidden]="!isPlayerPausing(rankingRow.player)"><i class="fa fa-play"></i></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="ranking-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="max-width: 600px; width: 600px">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Statistik</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group" *ngIf="selectedRankingRow">
					<h4>{{selectedRankingRow.player.firstName}} {{selectedRankingRow.player.lastName}}</h4>
					<table class="table table-sm table-bordered table-striped">
						<thead class="thead-kickertool">
							<th class="w-50"></th>
							<th class="w-50"></th>
						</thead>
						<tbody>
							<tr><td>Rang</td><td>{{selectedRankingRow.rank}}</td></tr>
							<tr><td>Punkte</td><td>{{selectedRankingRow.score}}</td></tr>
							<tr><td>Tore</td><td>{{selectedRankingRow.goals}}</td></tr>
							<tr><td>Tordifferenz</td><td>{{selectedRankingRow.goaldiff}}</td></tr>
							<tr><td>Gegnerische Tore</td><td>{{selectedRankingRow.concededGoals}}</td></tr>
							<tr><td>Absolvierte Spiele</td><td>{{selectedRankingRow.matchesPlayed}}</td></tr>
							<tr><td>Spiele gewonnen</td><td>{{selectedRankingRow.matchesWon}}</td></tr>
							<tr><td>Spiele verloren</td><td>{{selectedRankingRow.matchesLost}}</td></tr>
							<tr><td>Spiele unentschieden</td><td>{{selectedRankingRow.matchesDraw}}</td></tr>
						</tbody>
					</table>
				</div>
				<app-loadandresponse></app-loadandresponse>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-block" style="width: 20%" data-dismiss="modal">Schlie&szlig;en</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="match-result-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="max-width: 600px; width: 600px">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row" *ngIf="selectedMatch">
					<div class="col">
						Team 1:
					</div>
					<div class="col">
						<p>{{selectedMatch.homeTeam.player1.firstName}} {{selectedMatch.homeTeam.player1.lastName}}</p>
					</div>
					<div class="col">
						<p>{{selectedMatch.homeTeam.player2.firstName}} {{selectedMatch.homeTeam.player2.lastName}}</p>
					</div>
					<div class="col">
						<input appOnlyNumber type="text" class="form-control" [(ngModel)]="matchResult.homeScore" />
					</div>
				</div>
				<div class="row" *ngIf="selectedMatch">
					<div class="col">
						Team 2:
					</div>
					<div class="col">
						<p>{{selectedMatch.visitingTeam.player1.firstName}}
							{{selectedMatch.visitingTeam.player1.lastName}}</p>
					</div>
					<div class="col">
						<p>{{selectedMatch.visitingTeam.player2.firstName}}
							{{selectedMatch.visitingTeam.player2.lastName}}</p>
					</div>
					<div class="col">
						<input appOnlyNumber type="text" class="form-control" [(ngModel)]="matchResult.visitingScore" />
					</div>
				</div>
				<app-loadandresponse></app-loadandresponse>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-block" data-dismiss="modal"
					(click)="onMatchResultEnteredClicked()">Eintragen</button>
				<button #modalMatchResultCloseButton type="button" class="btn btn-secondary btn-block"
					style="width: 20%" data-dismiss="modal">Abbrechen</button>
			</div>
		</div>
	</div>
</div>