<div class="container-fluid bg-circle" style="height: 100%">
    <div class="row align-items-center" style="height: 100%">
        <div class="col">
            <button type="button" class="btn btn-kickertool" data-toggle="modal" data-target="#playeredit-modal" data-backdrop="static">Spielerverwaltung</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-kickertool" (click)="onOpenNewTournamentClicked()" data-toggle="modal" data-target="#newtournament-modal" data-backdrop="static">Neues Turnier</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-kickertool" disabled>Turnier fortsetzen</button>
        </div>
    </div>
</div>
<app-playeredit></app-playeredit>
<app-newtournament></app-newtournament>