<div class="container-fluid" *ngIf="tournament">
    <div class="menubar">
        <div id="logo">
                <img src="./../../assets/images/parcit-logo.png" />
        </div>
        <div class="button-bar">
            <app-toolbar-button text="Spieler hinzufügen" icon="fas fa-user" (clicked)="onShowPlayerManagementViewClicked()"></app-toolbar-button>
            <app-toolbar-button text="Turnieransicht" icon="fas fa-futbol" [highlighted]="true" (clicked)="onOpenTournamentShowWindowClicked()"></app-toolbar-button>
        </div>
    </div>
    <div>
        <h1>
            {{tournament.name}} - Control Panel
        </h1>
        <div class="row">
            <!-- Matches -->
            <div class="col-5">
                <app-table [headers]="['Team 1', 'Ergebnis', 'Team 2', 'Tisch', '']" class="panel-content">
                    <tr *ngFor="let match of currentMatches">
                        <td>{{match.homeTeam.player1.getFullName()}}<br />{{match.homeTeam.player2.getFullName()}}</td>
                        <td>{{match.scoreHome}} : {{match.scoreVisiting}}</td>
                        <td>{{match.visitingTeam.player1.getFullName()}}<br />{{match.visitingTeam.player2.getFullName()}}</td>
                        <td>{{match.gameTableDescription}}</td>
                        <td><button type="button" class="btn btn-kickertool" (click)="onOpenEnterMatchResultDialogClicked(match)" data-toggle="modal" data-target="#match-result-modal" [disabled]="canMatchResultEntered()">Ergebnis</button></td>
                    </tr>
                </app-table>
                <div class="row">
                    <div class="col-9">
                        <select class="form-control" (change)="onRoundSelectionChange($event.target.value)">
                            <option *ngFor="let item of arrayOne(tournament.currentRound); index as i" selected>Runde {{i + 1}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-kickertool" (click)="onStartNextRoundClicked()" [disabled]="isBtnNextRoundDisabled()">Next Round</button>                
                    </div>
                </div>
            </div>
            <!-- Stopwatch -->
            <div class="col-2">
                <app-stopwatch></app-stopwatch>
            </div>
            <!-- Rankings -->
            <div class="col-5">
                <app-table [headers]="['#', 'Spieler', 'Punkte', '', '']" class="panel-content" [tableSmall]="true">
                    <tr *ngFor="let ranking of rankings">
                        <td>{{ranking.rank}}</td>
                        <td>{{ranking.player.getFullName()}}<p *ngIf="ranking.player.isPausing()">( pausiert )</p></td>
                        <td>{{ranking.score}}</td>
                        <td><button type="button" class="btn btn-kickertool" (click)="onOpenRankingDetailsClicked(ranking)" data-toggle="modal" data-target="#ranking-modal">Details</button></td>
                        <td style="padding: 5px">
                            <button class="btn btn-kickertool" style="margin: 2px" (click)="onPlayerPauseClicked(ranking.player)" [hidden]="ranking.player.isPausing()"><i class="fa fa-pause"></i></button>
                            <button class="btn btn-kickertool" style="margin: 2px" (click)="onPlayerResumeClicked(ranking.player)" [hidden]="!ranking.player.isPausing()"><i class="fa fa-play"></i></button>
                            <button class="btn btn-danger" style="margin: 2px" (click)="onPlayerRemoveFromTournamentClicked(ranking.player)"><i class="fa fa-user-times"></i></button>
                        </td>
                    </tr>
                </app-table>
            </div>
        </div>
    </div>
</div>

<app-matchresulteditor></app-matchresulteditor>
<app-rankingdetails></app-rankingdetails>