<div class="row" *ngIf="tournamentShowDTO">
	<div class="col-6">
		<h1>{{tournamentShowDTO.tournament.name}}</h1>
		<app-stopwatch></app-stopwatch>
		<!-- <table class="table table-sm table-bordered table-striped">
			<thead class="thead-kickertool">
				<th scope="col">Team 1</th>
				<th scope="col">Ergebnis</th>
				<th scope="col">Team 2</th>
				<th scope="col">Tisch</th>
				<th scope="col"></th>
			</thead>
			<tbody>
				<tr *ngFor="let match of tournamentService.matchesToShow">
					<td>{{match.homeTeam.player1.firstName}} {{match.homeTeam.player1.lastName}}<br />{{match.homeTeam.player2.firstName}} {{match.homeTeam.player2.lastName}}</td>
					<td>{{match.scoreHome}} : {{match.scoreVisiting}}</td>
					<td>{{match.visitingTeam.player1.firstName}} {{match.visitingTeam.player1.lastName}}<br />{{match.visitingTeam.player2.firstName}} {{match.visitingTeam.player2.lastName}}</td>
					<td>{{match.table?.tableNumber}}</td>
					<td></td>
				</tr>
			</tbody>
		</table> -->
	</div>
</div>
