<div class="container-fluid" style="height: 100%; padding: 5%" *ngIf="tournamentShowDTO">
	<div class="row">
		<div class="col-12">
			<h1>{{tournamentShowDTO.tournament.name}}</h1>
			<p class="stopwatch-large"><app-stopwatch></app-stopwatch></p>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<table class="table table-sm table-bordered table-striped">
				<thead class="thead-kickertool">
					<th scope="col">Team 1</th>
					<th scope="col">Ergebnis</th>
					<th scope="col">Team 2</th>
					<th scope="col">Tisch</th>
				</thead>
				<tbody>
					<tr *ngFor="let match of tournamentShowDTO.matches">
						<td>{{match.homeTeam.player1.firstName}} {{match.homeTeam.player1.lastName}}<br />{{match.homeTeam.player2.firstName}} {{match.homeTeam.player2.lastName}}</td>
						<td>{{match.scoreHome}} : {{match.scoreVisiting}}</td>
						<td>{{match.visitingTeam.player1.firstName}} {{match.visitingTeam.player1.lastName}}<br />{{match.visitingTeam.player2.firstName}} {{match.visitingTeam.player2.lastName}}</td>
						<td>{{match.gameTableDescription}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-6 table-wrapper-scroll-y my-custom-scrollbar">
			<table class="table table-sm table-bordered table-striped">
				<thead class="thead-kickertool">
					<th scope="col">#</th>
					<th scope="col">Spieler</th>
					<th scope="col">Punkte</th>
					<th scope="col">Tordifferenz</th>
				</thead>
				<tbody>
					<tr *ngFor="let rankingRow of tournamentShowDTO.rankings">
						<td>{{rankingRow.rank}}</td>
						<td>{{rankingRow.player.firstName}} {{rankingRow.player.lastName}}</td>
						<td>{{rankingRow.score}}</td>
						<td>{{rankingRow.goaldiff}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>