@import "src/styles";

.table-header-kickertool {
    text-align: center;
    background-color: $base-green;
    color: $text-color-white;
    font-size: 18;
}

.table-body-kickertool {
    background-color: white;
}