@import './../../../../globals.scss';

$btn-width: 200px;

.centeredElement {
    padding-top: 20px;
    display: inline-block;
    margin-left: 10px;
}

.c-btn-default {
    color: $text-color-white !important;
    width: $btn-width !important;
    background-color: transparent !important;
    border-width: 3px;
    border-color: $text-color-white !important;
}

.c-btn-default:hover {
    color: $base-green !important;
}

.c-btn-primary {
    border-width: 3px;
    border-color: $base-green !important;
    color: $base-green !important;
    width: $btn-width !important;
    background-color: transparent !important;
}

.c-btn-primary:hover {
    color: $text-color-white !important;
    background-color: $base-green !important;
    border-color: transparent !important;
}
