<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div id="logo">
                <img src="./../../assets/images/parcit-logo.png" />
            </div>
        </div>
        <div class="col-6">
            <app-stopwatchviewer></app-stopwatchviewer>
        </div>
        <div class="col-3" style="text-align: right;">
            <h1>{{ tournament?.name }}</h1>
        </div>
    </div>
    <div class="row">
        <!-- Matches -->
        <div class="col-5">
            <app-table [headers]="['Team 1', 'Ergebnis', 'Team 2', 'Tisch']" class="panel-content">
                <tr *ngFor="let match of currentMatches">
                    <td>{{match.homeTeam.player1.getFullName()}}<br />{{match.homeTeam.player2.getFullName()}}</td>
                    <td>{{match.scoreHome}} : {{match.scoreVisiting}}</td>
                    <td>{{match.visitingTeam.player1.getFullName()}}<br />{{match.visitingTeam.player2.getFullName()}}</td>
                    <td>
                        <div>
                            {{match.gameTableDescription}}
                        </div>
                        <div>
                            <img src="/assets/images/kickertable.png" height="50" />
                        </div>
                    </td>
                </tr>
            </app-table>
        </div>
        <!-- Filler -->
        <div class="col-1"></div>
        <!-- Rankings -->
        <div class="col-6">
            <app-table [headers]="['#', 'Spieler', 'Punkte']" class="panel-content" [tableSmall]="true">
                <tr *ngFor="let ranking of rankings">
                    <td>{{ranking.rank}}</td>
                    <td>{{ranking.player.getFullName()}}<p *ngIf="ranking.player.isPausing()">( pausiert )</p></td>
                    <td>{{ranking.score}}</td>
                </tr>
            </app-table>
        </div>
    </div>
</div>
