$bg_image: url('/assets/images/bg.png');

html {
    height: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
	background: linear-gradient(
                    rgba(17,18,19,0.75),
                    rgba(17,18,19,0.75)),
                $bg_image center;
    background-size: cover;
}
