/* You can add global styles to this file, and also import other style files */
:root {
	--green: #4c8d58;
}

html,
body {
	height: 100%;
	margin: 0 !important;
    padding: 0 !important;
}

h1 {
  margin-bottom: 25px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h3 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgb(239, 246, 240);
}

.btn-kickertool {
	color: #fff;
  	border-color: #fff;
}

.btn-kickertool:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-kickertool:focus, .btn-kickertool.focus {
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.5);
}

.btn-kickertool.disabled, .btn-kickertool:disabled {
  border-color: #dbdbdb;
  color: #dbdbdb;
  background-color: transparent;
}

.btn-kickertool-green {
	color: #fff;
	background-color: var(--green);
  	border-color: var(--green);
}

.btn-kickertool-green:hover {
  color: #fff;
  background-color: #2b3e2e;
  border-color: #2b3e2e;
}

.btn-kickertool-green:focus, .btn-kickertool-green.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-kickertool-green.disabled, .btn-kickertool-green:disabled {
  border-color: #dbdbdb;
  color: #dbdbdb;
  background-color: transparent;
}

.thead-kickertool {
	background-color: var(--green);
	color: #fff;
}

.my-custom-scrollbar {
	position: relative;
	height: 450px;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}